/* Parent container for the columns */
#coaching-packages-section .row,
#training-plans-section .row {
    display: flex;
    gap: 15px;
    /* Gap between the columns */
    flex-wrap: wrap;
    /* Allow columns to wrap if needed */
}

/* Column styling */
.custom-col {
    position: relative;
    margin-top: 20px;
    padding: 0;
    /* No padding to avoid space between the border and children */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* Include border inside the column */
    flex: 0 0 24%;
    /* Allow each column to take up 22% of the width and wrap when needed */
    max-width: 400px;
}

/* Ensuring columns take up the correct space */
@media (max-width: 1400px) {
    .custom-col {
        flex: 0 0 45%;
        /* Two columns per row on medium screens */
    }
}

@media (max-width: 768px) {
    .custom-col {
        flex: 0 0 100%;
        /* Single column per row on small screens */
    }
}

.coaching-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: white;
    border-radius: 25px;
    color: black;
    padding: 1.4rem;
}

#coaching-packages-section .coaching-card,
#training-plans-section .coaching-card {
    justify-content: space-between;
    border-radius: 0px 0px 25px 25px;
}

/* Prevent cards from stretching to the same height */
#coaching-packages-section .custom-col,
#training-plans-section .custom-col {
    align-self: flex-start;
}

.tag {
    border: 3px white solid;
    border-radius: 25px 25px 0 0;
    padding: 15px;
    text-align: center;
    background-color: var(--basic-grey-color);
    color: black;
    margin: 0;
}


.coaching-card ul {
    margin-top: 20px;
    text-align: left;
}

.coaching-card__price {
    font-size: 40px;
    font-weight: bold;
}

.coaching-card__button-container {
    text-align: center;
}

.coaching-card__button-container .btn-custom {
    border: 1.5px solid black;
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* Specific Styles */
/* .immortal-card {
    text-align: center;
} */
/* .immortal-card .original-price {
    margin: 0 auto;
} */

.immortal-plus-card .coaching-card__price,
.immortal-plus-card ul li:before {
    color: #4C3A86;
}

.immortal-plus-tag {
    background-color: #4C3A86;
    color: white;
}

.immortal-plus-card .btn-custom {
    border: 1px solid #4C3A86;
    background-color: #4C3A86;
    color: white;
    /* max-width: 30%; */
}

.immortal-card .coaching-card__price,
.immortal-card ul li:before {
    color: var(--secondary-accent-color);
}

.immortal-tag {
    background-color: var(--secondary-accent-color);
    color: white;
}

.immortal-card .btn-custom {
    border: 1px solid var(--secondary-accent-color);
    background-color: var(--secondary-accent-color);
    color: white;
    /* max-width: 30%; */
}

.coaching-card--pro .coaching-card__price,
.coaching-card--pro ul li:before {
    color: var(--primary-bg-color);
}

.pro-tag {
    background-color: var(--primary-bg-color);
    color: white;
}

.coaching-card--pro .btn-custom {
    border: 1px solid var(--primary-bg-color);
    background-color: var(--primary-bg-color);
    color: white;
}

.coaching-card--basic .coaching-card__price,
.coaching-card--basic ul li:before {
    color: black;
}

.basic-tag {
    background-color: black;
    color: white;
}

/* Specific Button Styles for Each Coaching Card */
.coaching-card--basic .btn-custom {
    border: 1px solid black;
    background-color: black;
    color: white;
}

.coaching-card--accent .coaching-card__price,
.coaching-card--accent ul li:before {
    color: var(--secondary-accent-color);
}

.accent-tag {
    background-color: var(--secondary-accent-color);
    color: white;
}

/* Specific Button Styles for Each Coaching Card */
.coaching-card--accent .btn-custom {
    border: 1px solid var(--secondary-accent-color);
    background-color: var(--secondary-accent-color);
    color: white;
}

#services-heading {
    text-align: center;
}

.card-border {
    padding: 0;
    margin: 0;
}

.coaching-card {
    max-width: 100%;
}

.popular {
    border: 10px solid #F67574;
    background: white;
    border-radius: 35px;
}

.popular-2 {
    border: 10px solid #00A6A6;
    background: white;
    border-radius: 35px;
}

.installment-plan-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

.installment-plan {
    color: #F67574;
    font-size: 1rem;
    text-align: center;
}