#coaching-section,
#training-section {
    background-color: var(--secondary-bg-color);
}

#coaching-packages-section,
#training-plans-section {
    background-color: var(--primary-bg-color);
}

#coaching-section,
#training-section,
#coaching-packages-section,
#training-plans-section {
    padding: var(--section-padding);
    position: relative;
}

#coaching-section a,
#training-section a,
#coaching-packages-section a,
#training-plans-section a {
    color: var(--primary-accent-color);
    font-size: 0.9rem;
}

.coaching-section__description {
    font-size: 1.1rem;
    margin-top: 20px;
    text-align: center;
}

/* guarantee */

.coaching-section__row {
    position: relative;
}

#coaching-section ul,
#training-section ul {
    list-style: none;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

ul li img {
    margin-right: 10px;
}

ul li span {
    flex-grow: 1;
    padding-left: 10px;
}

#coaching-section ul li span,
#training-section ul li span {
    color: black;
}

#coaching-packages-section ul li:before,
#training-plans-section ul li:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    margin-right: 10px;
}

.procedure li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.procedure li::before {
    content: "\2192" !important;
    /*right arrow */
    position: absolute;
    left: 0;
    top: 0;
    color: black !important;
    font-size: 14px;

}

/* Style for the collapsible button */
.procedure .collapsible {
    background-color: transparent;
    border: none;
    color: #333;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    text-decoration: none;
}

/* Optional: Styling for the collapse container */
.procedure .collapse {
    margin-top: 10px;
    padding-left: 20px;
}

/* Style for the information icon */
.procedure .collapsible i {
    margin-right: 8px; /* Add spacing between icon and text */
    font-size: 18px; /* Adjust icon size */
    color: #5bc0de; /* Icon color (bootstrap info blue) */
}

.remove-padding {
    padding: 0;
}
.original-price {
    position: relative;
    color: #949494;
    font-size: 0.6em;
    margin-left: 8px;
    display: block;
  width: fit-content;
}

.original-price::after {
    content: "";
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    height: 2px;
    background: red;
    border-radius: 5px;
}

.badge{
    background-color: red;
}

/* 1️⃣ Define the keyframes */
@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  /* 2️⃣ Apply to your element */
  .hero-animate {
    animation: pulse 1s ease-in-out infinite;
    display: inline-block; /* or block depending on element */
    transform-origin: center;
  }
    
