/*faq section*/
#faq-section {
    background-color: var(--primary-bg-color);
    padding: var(--section-padding);
    display: flex;
    justify-content: center;
    align-items: center;
}

#faq-accordion {
    padding: 10px;
    background-color: white;
}

#faq-accordion .accordion-item {
    margin: 20px;
    border: none; 
    border-bottom: 1px solid #CBCBCB; 
    
}

#faq-accordion .accordion-button:not(.collapsed) {
    background-color: #d3d4d6;
    font-weight: 500;
}

.accordion-body {
    background-color: #e6e6e6; /* A different shade from headers for the content */
    padding: 15px;
    border-top: none; /* Removes top border for a seamless look from header to content */
}